<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "id.web.atila.login"
        version   = "1.0.0">

    <name>Login System</name>

    <description>
        Aplikasi untuk login.
    </description>

    <author href="https://atila.web.id" email="ummi@atila.web.id">
        ATILA Media Permata
    </author>

    <content src="index.html" />
    <access origin="*"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
        
</widget>
